In [1]:
import pandas as pd

In [2]:
ano = 2017
file_name = f'OD_{ano}_from_dbx.csv'
df = pd.read_csv(file_name)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 183092 entries, 0 to 183091
Columns: 128 entries, ZONA to ID_ORDEM
dtypes: float64(95), int64(33)
memory usage: 178.8 MB

In [3]:
# remove registros duplicados, se houverem
df.drop_duplicates(keep='last', inplace=True)
print(len(df))
df.head()

183092

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,MODOPRIN,TIPVG,PAG_VIAG,TP_ESAUTO,VL_EST,PE_BICI,VIA_BICI,TP_ESBICI,DISTANCIA,ID_ORDEM
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,1
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,16.0,3.0,NaN,NaN,NaN,1.0,NaN,NaN,639.13,2
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,6651.77,3
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,1.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,4243.30,4
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,12.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4557.62,5

In [4]:
campo_de = 'F_DOM'
campo_para = 'Identifica Primeiro Registro do Domicílio'
tipos = {
    0: 'Demais Registros',
    1: 'Primeiro Registro do Domicílio'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CD_ENTRE'
campo_para = 'Código de Entrevista'
tipos = {
    0: 'Completa com Viagem',
    1: 'Completa sem Viagem'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'TIPO_DOM'
campo_para = 'Tipo de Domicílio'
tipos = {
    0: 'Particular',
    1: 'Coletivo'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'AGUA'
campo_para = 'Possui água encanada?'
tipos = {
    0: 'Não',
    1: 'Sim'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'RUA_PAVI'
campo_para = 'A rua é pavimentada?'
tipos = {
    0: 'Não',
    1: 'Sim'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'F_FAM'
campo_para = 'Identifica Primeiro Registro da Família'
tipos = {
    0: 'Demais Registros',
    1: 'Primeiro Registro da Família'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CONDMORA'
campo_para = 'Condição de Moradia'
tipos = {
    1: 'Alugada',
    2: 'Própria',
    3: 'Cedida',
    4: 'Outros',
    5: 'Não Respondeu'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'NAO_DCL_IT'
campo_para = 'Código de Declaração de Itens de Conforto'
tipos = {
    0: 'Não Declarou Itens de Conforto',
    1: 'Declarou Itens de Conforto'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CRITERIOBR'
campo_para = 'Critério de Classificação Econômica Brasil'
tipos = {
    1: 'A',
    2: 'B1',
    3: 'B2',
    4: 'C1',
    5: 'C2',
    6: 'D - E'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CD_RENFA'
campo_para = 'Código de Renda Familiar Mensal'
tipos = {
    1: 'Renda Familiar Declarada e Maior que Zero',
    2: 'Renda Familiar Declarada como Zero',
    3: 'Renda Atribuída pelo Critério Brasil',
    4: 'Renda Atribuída pela Média da Zona',
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'F_PESS'
campo_para = 'Identifica Primeiro Registro da Pessoa'
tipos = {
    0: 'Demais registros',
    1: 'Primeiro registro da pessoa'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'SIT_FAM'
campo_para = 'Situação Familiar'
tipos = {
    1: 'Pessoa Responsável',
    2: 'Cônjuge/Companheiro(a)',
    3: 'Filho(a)/Enteado(a)',
    4: 'Outro Parente',
    5: 'Agregado',
    6: 'Empregado Residente',
    7: 'Parente do Empregado Residente'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'SEXO'
campo_para = 'Sexo'
tipos = {
    1: 'Masculino',
    2: 'Feminino',
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'ESTUDA'
campo_para = 'Estuda Atualmente?'
tipos = {
    1: 'Não',
    2: 'Creche/Pré-Escola',
    3: '1º Grau /Fundamental',
    4: '2º Grau/Médio',
    5: 'Superior/Universitário',
    6: 'Outros',
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'GRAU_INS'
campo_para = 'Grau de Instrução'
tipos = {
    1: 'Não Alfabetizado/Fundamental I Incompleto',
    2: 'Fundamental I Completo/Fundamental II Incompleto',
    3: 'Fundamental II Completo/Médio Incompleto',
    4: 'Médio Completo/Superior Incompleto',
    5: 'Superior Completo',
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'CD_ATIVI'
campo_para = 'Condição de Atividade'
tipos = {
    1: 'Tem trabalho regular',
    2: 'Faz bico',
    3: 'Em Licença Médica',
    4: 'Aposentado/Pensionista',
    5: 'Sem Trabalho',
    6: 'Nunca Trabalhou',
    7: 'Dona de Casa',
    8: 'Estudante',
}
df[campo_para] = df[campo_de].map(tipos)



campo_de = 'CO_REN_I'
campo_para = 'Condição de Renda Individual'
tipos = {
    1: 'Tem Renda',
    2: 'Não Tem Renda',
    3: 'Não Respondeu'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'TIPO_ESC'
campo_para = 'Tipo de Escola'
tipos = {
    1: 'Pública',
    2: 'Particular'
}
df[campo_para] = df[campo_de].map(tipos)
    
    
campo_de = 'TRAB1_RE'
campo_para = 'Primeiro Trabalho é igual a Residência ?'
tipos = {
    1: 'Sim',
    2: 'Não',
    3: 'Sem endereço fixo'
}
df[campo_para] = df[campo_de].map(tipos)
    
    
campo_de = 'TRABEXT1'
campo_para = 'Realiza Trabalho Externo-1º Trabalho'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'OCUP1'
campo_para = 'Ocupação do 1º Trabalho'
tipos = {
    1: 'Membros superiores do poder público, dirigentes de organizações de interesse público e de empresas e gerentes',
    2: 'Profissionais das ciências e das artes',
    3: 'Técnicos de nível médio',
    4: 'Trabalhadores de serviços administrativos',
    5: 'Trabalhadores dos serviços',
    6: 'Vendedores do comércio em lojas e mercados',
    7: 'Trabalhadores agropecuários, florestais e da pesca',
    8: 'Trabalhadores da produção de bens e serviços industriais',
    9: 'Trabalhadores em serviços de reparação e manutenção',
    10: 'Membros das Forças Armadas, Policiaise Bombeiros Militares',
    11: 'Outras ocupações'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'SETOR1'
campo_para = 'Setor de Atividade do 1º Trabalho'
tipos = {
    1: 'Agrícola',
    2: 'Construção Civil',
    3: 'Indústria',
    4: 'Comércio',
    5: 'Serviço de Transporte de Carga',
    6: 'Serviço de Transporte de Passageiros',
    7: 'Serviço Creditício-financeiro',
    8: 'Serviço Pessoal',
    9: 'Serviço de Alimentação',
    10: 'Serviço de Saúde',
    11: 'Serviço de Educação',
    12: 'Serviço Especializado',
    13: 'Serviço de Administração Pública',
    14: 'Outros Serviços'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'VINC1'
campo_para = 'Vínculo Empregatício do 1º Trabalho'
tipos = {
    1: 'Assalariado com carteira',
    2: 'Assalariado sem carteira',
    3: 'Funcionário público',
    4: 'Autônomo',
    5: 'Empregador',
    6: 'Profissional Liberal',
    7: 'Dono de negócio familiar',
    8: 'Trabalhador familiar'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'TRAB2_RE'
campo_para = 'Segundo Trabalho é igual a Residência ?'
tipos = {
    1: 'Sim',
    2: 'Não',
    3: 'Sem endereço fixo'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'TRABEXT2'
campo_para = 'Realiza Trabalho Externo-2º Trabalho'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'DIA_SEM'
campo_para = 'Dia da Semana'
tipos = {
    2: 'Segunda-feira',
    3: 'Terça-feira',
    4: 'Quarta-feira',
    5: 'Quinta-feira',
    6: 'Sexta-feira'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'MOTIVO_O'
campo_para = 'Motivo na Origem'
tipos = {    
    1: 'Trabalho Indústria',
    2: 'Trabalho Comércio',
    3: 'Trabalho Serviços',
    4: 'Escola/Educação',
    5: 'Compras',
    6: 'Médico/Dentista/Saúde',
    7: 'Recreação/Visitas/Lazer',
    8: 'Residência',
    9: 'Procurar Emprego',
    10: 'Assuntos Pessoais',
    11: 'Refeição'
}
df[campo_para] = df[campo_de].map(tipos)
    

campo_de = 'MOTIVO_D'
campo_para = 'Motivo no Destino'
tipos = {
    1: 'Trabalho Indústria',
    2: 'Trabalho Comércio',
    3: 'Trabalho Serviços',
    4: 'Escola/Educação',
    5: 'Compras',
    6: 'Médico/Dentista/Saúde',
    7: 'Recreação/Visitas/Lazer',
    8: 'Residência',
    9: 'Procurar Emprego',
    10: 'Assuntos Pessoais',
    11: 'Refeição'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MOT_SRES'
campo_para = 'Motivo no Destino sem Residência'
tipos = {    
    1: 'Trabalho Indústria',
    2: 'Trabalho Comércio',
    3: 'Trabalho Serviços',
    4: 'Escola/Educação',
    5: 'Compras',
    6: 'Médico/Dentista/Saúde',
    7: 'Recreação/Visitas/Lazer',
    9: 'Procurar Emprego',
    10: 'Assuntos Pessoais',
    11: 'Refeição'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'SERVIR_O'
campo_para = 'Servir Passageiro na Origem'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'SERVIR_D'
campo_para = 'Servir Passageiro no Destino'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO1'
campo_para = 'Modo 1'
tipos = {
    1: 'Metrô',
    2: 'Trem',
    3: 'Monotrilho',
    4: 'Ônibus/micro-ônibus/perua do município de São Paulo',
    5: 'Ônibus/micro-ônibus/perua de outros municípios',
    6: 'Ônibus/micro-ônibus/perua metropolitano',
    7: 'Transporte Fretado',
    8: 'Transporte Escolar',
    9: 'Dirigindo Automóvel',
    10: 'Passageiro de Automóvel',
    11: 'Táxi Convencional',
    12: 'Táxi não Convencional',
    13: 'Dirigindo Moto',
    14: 'Passageiro de Moto',
    15: 'Bicicleta',
    16: 'A Pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO2'
campo_para = 'Modo 2'
tipos = {
    1: 'Metrô',
    2: 'Trem',
    3: 'Monotrilho',
    4: 'Ônibus/micro-ônibus/perua do município de São Paulo',
    5: 'Ônibus/micro-ônibus/perua de outros municípios',
    6: 'Ônibus/micro-ônibus/perua metropolitano',
    7: 'Transporte Fretado',
    8: 'Transporte Escolar',
    9: 'Dirigindo Automóvel',
    10: 'Passageiro de Automóvel',
    11: 'Táxi Convencional',
    12: 'Táxi não Convencional',
    13: 'Dirigindo Moto',
    14: 'Passageiro de Moto',
    15: 'Bicicleta',
    16: 'A Pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO3'
campo_para = 'Modo 3'
tipos = {
    1: 'Metrô',
    2: 'Trem',
    3: 'Monotrilho',
    4: 'Ônibus/micro-ônibus/perua do município de São Paulo',
    5: 'Ônibus/micro-ônibus/perua de outros municípios',
    6: 'Ônibus/micro-ônibus/perua metropolitano',
    7: 'Transporte Fretado',
    8: 'Transporte Escolar',
    9: 'Dirigindo Automóvel',
    10: 'Passageiro de Automóvel',
    11: 'Táxi Convencional',
    12: 'Táxi não Convencional',
    13: 'Dirigindo Moto',
    14: 'Passageiro de Moto',
    15: 'Bicicleta',
    16: 'A Pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODO4'
campo_para = 'Modo 4'
tipos = {
    1: 'Metrô',
    2: 'Trem',
    3: 'Monotrilho',
    4: 'Ônibus/micro-ônibus/perua do município de São Paulo',
    5: 'Ônibus/micro-ônibus/perua de outros municípios',
    6: 'Ônibus/micro-ônibus/perua metropolitano',
    7: 'Transporte Fretado',
    8: 'Transporte Escolar',
    9: 'Dirigindo Automóvel',
    10: 'Passageiro de Automóvel',
    11: 'Táxi Convencional',
    12: 'Táxi não Convencional',
    13: 'Dirigindo Moto',
    14: 'Passageiro de Moto',
    15: 'Bicicleta',
    16: 'A Pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'MODOPRIN'
campo_para = 'Modo Principal'
tipos = {
    1: 'Metrô',
    2: 'Trem',
    3: 'Monotrilho',
    4: 'Ônibus/micro-ônibus/perua do município de São Paulo',
    5: 'Ônibus/micro-ônibus/perua de outros municípios',
    6: 'Ônibus/micro-ônibus/perua metropolitano',
    7: 'Transporte Fretado',
    8: 'Transporte Escolar',
    9: 'Dirigindo Automóvel',
    10: 'Passageiro de Automóvel',
    11: 'Táxi Convencional',
    12: 'Táxi não Convencional',
    13: 'Dirigindo Moto',
    14: 'Passageiro de Moto',
    15: 'Bicicleta',
    16: 'A Pé',
    17: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'TIPVG'
campo_para = 'Tipo de Viagem'
tipos = {
    1: 'Coletivo',
    2: 'Individual',
    3: 'A pé',
    4: 'Bicicleta',
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'PAG_VIAG'
campo_para = 'Quem Pagou a Viagem'
tipos = {
    1: 'Você/Sua família',
    2: 'Empregador',
    3: 'Isento',
    4: 'Outros',
    5: 'Não respondeu'
}
df[campo_para] = df[campo_de].map(tipos)


campo_de = 'TP_ESAUTO'
campo_para = 'Tipo de Estacionamento do Automóvel ou Moto'
tipos = {
    1: 'Não estacionou',
    2: 'Zona azul',
    3: 'Patrocinado',
    4: 'Proprio',
    5: 'Meio-fio',
    6: 'Avulso',
    7: 'Mensal',
    8: 'E-fácil',
    9: 'Não respondeu'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'PE_BICI'
campo_para = 'Por Que Viajou A Pé ou Bicicleta'
tipos = {
    1: 'Pequena distância',
    2: 'Condução cara',
    3: 'Ponto/Estação distante',
    4: 'Condução demora para passar',
    5: 'Viagem demorada',
    6: 'Condução lotada',
    7: 'Atividade física',
    8: 'Outros motivos'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'VIA_BICI'
campo_para = 'Se viajou de bicicleta, usou via segregada?'
tipos = {
    1: 'Sim',
    2: 'Não'
}
df[campo_para] = df[campo_de].map(tipos)

campo_de = 'TP_ESBICI'
campo_para = 'Estacionamento Bicicleta'
tipos = {
    1: 'Bicicletário gratuito',
    2: 'Bicicletário pago',
    3: 'Local privado',
    4: 'Rua/Local público',
    5: 'Guardador de rua',
    6: 'Estação de bicicleta',
    7: 'Paraciclo público',
    8: 'Outros'
}
df[campo_para] = df[campo_de].map(tipos)


df.tail()

,ZONA,MUNI_DOM,CO_DOM_X,CO_DOM_Y,ID_DOM,F_DOM,FE_DOM,DOM,CD_ENTRE,DATA,...,Modo 2,Modo 3,Modo 4,Modo Principal,Tipo de Viagem,Quem Pagou a Viagem,Tipo de Estacionamento do Automóvel ou Moto,Por Que Viajou A Pé ou Bicicleta,"Se viajou de bicicleta, usou via segregada?",Estacionamento Bicicleta
183087,517,25,294618,7410518,5171418,0,85.53125,1418,1,15092018,...,NaN,NaN,NaN,A Pé,A pé,NaN,NaN,Pequena distância,NaN,NaN
183088,517,25,295243,7411456,5171599,1,52.50000,1599,1,15092018,...,NaN,NaN,NaN,A Pé,A pé,NaN,NaN,Pequena distância,NaN,NaN
183089,517,25,295243,7411456,5171599,0,52.50000,1599,1,15092018,...,NaN,NaN,NaN,A Pé,A pé,NaN,NaN,Pequena distância,NaN,NaN
183090,517,25,295243,7411456,5171599,0,52.50000,1599,1,15092018,...,NaN,NaN,NaN,A Pé,A pé,NaN,NaN,Pequena distância,NaN,NaN
183091,517,25,295243,7411456,5171599,0,52.50000,1599,1,15092018,...,NaN,NaN,NaN,A Pé,A pé,NaN,NaN,Pequena distância,NaN,NaN

In [5]:
zonas = {
    2: 'Parque Dom Pedro',
    3: 'Praça João Mendes',
    4: 'Ladeira da Memória',
    5: 'República',
    6: 'Santa Ifigênia',
    7: 'Luz',
    8: 'Bom Retiro',
    9: 'Ponte Pequena',
    10: 'Canindé',
    11: 'Bom Jardim',
    12: 'Pari',
    13: 'João Teodoro',
    14: 'Oriente',
    15: 'Bresser',
    16: 'Brás',
    17: 'Gasômetro',
    18: 'Independência',
    19: 'Cambuci',
    20: 'Glicério',
    21: 'Aclimação',
    22: 'Pires da Mota',
    23: 'Centro Cultural',
    24: 'Liberdade',
    25: 'Treze de Maio',
    26: 'Bexiga',
    27: 'Bela Vista',
    28: 'São Carlos do Pinhal',
    29: 'Masp',
    30: 'Higienópolis',
    31: 'Vila Buarque',
    32: 'Consolação',
    33: 'Pacaembu',
    34: 'FAAP',
    35: 'Santa Cecília',
    36: 'Marechal Deodoro',
    37: 'Rudge',
    38: 'Catumbi',
    39: 'Belém',
    40: 'Quarta Parada',
    41: 'Belenzinho',
    42: 'Celso Garcia',
    43: 'Mooca',
    44: 'Alto da Mooca',
    45: 'Parque da Mooca',
    46: 'Água Rasa',
    47: 'Vila Bertioga',
    48: 'Regente Feijó',
    49: 'Ana Rosa',
    50: 'Jardim da Glória',
    51: 'Chácara Klabin',
    52: 'Vila Mariana',
    53: 'Santa Cruz',
    54: 'Vila Clementino',
    55: 'França Pinto',
    56: 'Rodrigues Alves',
    57: 'Paraíso',
    58: 'Bosque da Saúde',
    59: 'Saúde',
    60: 'Planalto Paulista',
    61: 'Mirandópolis',
    62: 'Parque Ibirapuera',
    63: 'Jardim Luzitânia',
    64: 'Moema',
    65: 'Vila Helena',
    66: 'Bandeirantes',
    67: 'Vila Nova Conceição',
    68: 'Chácara Itaim',
    69: 'Vila Olímpia',
    70: 'Hélio Pelegrino',
    71: 'Brooklin',
    72: 'Vila Cordeiro',
    73: 'Berrini',
    74: 'Campinas',
    75: 'Pamplona',
    76: 'Jardins',
    77: 'Clínicas',
    78: 'Oscar Freire',
    79: 'Trianon',
    80: 'Jardim Paulistano',
    81: 'Jardim Europa',
    82: 'Pinheiros',
    83: 'Vila Madalena',
    84: 'PUC',
    85: 'Cardoso de Almeida',
    86: 'Zequinha de Abreu',
    87: 'Sumaré',
    88: 'Perdizes',
    89: 'Vila Anglo Brasileira',
    90: 'Pompéia',
    91: 'Santa Marina',
    92: 'Barra Funda',
    93: 'Francisco Matarazzo',
    94: 'Água Branca',
    95: 'Vila Beatriz',
    96: 'Alto de Pinheiros',
    97: 'Boaçava',
    98: 'Vila Anastácio',
    99: 'Lapa de Baixo',
    100: 'Lapa',
    101: 'Vila Ipojuca',
    102: 'Alto da Lapa',
    103: 'Gavião Peixoto',
    104: 'Bela Aliança',
    105: 'Vila Hamburguesa',
    106: 'CEASA',
    107: 'Vila Leopoldina',
    108: 'Emissário',
    109: 'Vila Zatt',
    110: 'Pirituba',
    111: 'São Domingos',
    112: 'Jardim Mutinga',
    113: 'Vila Jaguara',
    114: 'Parque do Jaraguá',
    115: 'Nova Jaraguá',
    116: 'Parada de Taipas',
    117: 'Parque Morro Doce',
    118: 'Anhanguera',
    119: 'Perus',
    120: 'Vista Alegre',
    121: 'Jardim Damasceno',
    122: 'Vila Souza',
    123: 'Vila Terezinha',
    124: 'Brasilândia',
    125: 'Vila Morro Grande',
    126: 'Itaberaba',
    127: 'Freguesia do Ó',
    128: 'Carandiru',
    129: 'Santana',
    130: 'Zaki Narchi',
    131: 'Tietê',
    132: 'Parque Anhembi',
    133: 'Alfredo Pujol',
    134: 'Santa Terezinha',
    135: 'Jardim São Paulo',
    136: 'Casa Verde',
    137: 'Parque Peruche',
    138: 'Limão',
    139: 'Jardim Primavera',
    140: 'Vila Santa Maria',
    141: 'Cachoeirinha',
    142: 'Jardim Peri',
    143: 'Reserva da Cantareira',
    144: 'Mandaqui',
    145: 'Horto Florestal',
    146: 'ETA Guaraú',
    147: 'Parque Palmas do Tremembé',
    148: 'Tremembé',
    149: 'Cantareira',
    150: 'Jardim das Pedras',
    151: 'Jardim Guapira',
    152: 'Parada Inglesa',
    153: 'Tucuruvi',
    154: 'Vila Gustavo',
    155: 'Cohab Jova Real',
    156: 'Jaçanã',
    157: 'Parque Edu Chaves',
    158: 'Vila Medeiros',
    159: 'Jardim Brasil',
    160: 'Jardim Japão',
    161: 'Parque Novo Mundo',
    162: 'Vila Maria',
    163: 'Vila Isolina Mazzei',
    164: 'Vila Guilherme',
    165: 'Coroa',
    166: 'Gomes Cardim',
    167: 'Tatuapé',
    168: 'Chácara do Piqueri',
    169: 'Parque São Jorge',
    170: 'Penha',
    171: 'Tiquatira',
    172: 'Vila Esperança',
    173: 'Vila Ré',
    174: 'Rui Barbosa',
    175: 'Estação Eng. Goulart',
    176: 'Cangaíba',
    177: 'Parque Ecológico do Tietê',
    178: 'USP Leste I',
    179: 'USP Leste II',
    180: 'Ermelino Matarazzo',
    181: 'Parque Buturussu',
    182: 'Ponte Rasa',
    183: 'Burgo Paulista',
    184: 'Limoeiro',
    185: 'Laranja da China',
    186: 'Pedro José Nunes',
    187: 'Parque Cruzeiro do Sul',
    188: 'Vila Jacuí',
    189: 'Parada XV',
    190: 'Itaquera',
    191: 'Arena Corinthians',
    192: 'Vila Campanela',
    193: 'Araucárias',
    194: 'Parque Guarani',
    195: 'Rio Verde',
    196: 'Saudade',
    197: 'São Miguel Paulista',
    198: 'Cidade Nitro-Operária',
    199: 'Jardim Helena',
    200: 'Jardim Romano',
    201: 'Vila Curuçá',
    202: 'Jardim Robru',
    203: 'Lageado',
    204: 'Fábrica Bandeirantes',
    205: 'Fazenda Itaim',
    206: 'Itaim Paulista',
    207: 'Jardim das Oliveiras',
    208: 'Vila Califórnia',
    209: 'Vila Carrão',
    210: 'Jardim Anália Franco',
    211: 'Vila Formosa',
    212: 'Barreira Grande',
    213: 'Aricanduva',
    214: "Frei Mont'Alverne",
    215: 'Vila Matilde',
    216: 'Cidade Patriarca',
    217: 'Cidade A.E.Carvalho',
    218: 'Artur Alvim',
    219: 'Cidade Líder',
    220: 'Santa Marcelina',
    221: 'Parque Savoy',
    222: 'Vila Carmosina',
    223: 'Fazenda Caguaçu',
    224: 'Parque do Carmo',
    225: 'Gleba do Pêssego',
    226: 'José Bonifácio',
    227: 'Guaianases',
    228: 'Juscelino Kubitschek',
    229: 'Cidade Tiradentes',
    230: 'Santa Etelvina',
    231: 'Terceira Divisão',
    232: 'Iguatemi',
    233: 'Sítio Carrãozinho',
    234: 'Parque São Rafael',
    235: 'Rodolfo Pirani',
    236: 'Ipiranga',
    237: 'Sacomã',
    238: 'Alto do Ipiranga',
    239: 'Vila São José',
    240: 'Vila Monumento',
    241: 'Vila Independência',
    242: 'Vila Carioca',
    243: 'Moinho Velho',
    244: 'Vila Heliópolis',
    245: 'São João Clímaco',
    246: 'Anchieta',
    247: 'Vila das Mercês',
    248: 'Parque do Estado',
    249: 'Água Funda',
    250: 'Jardim da Saúde',
    251: 'Vila Gumercindo',
    252: 'Jardim Previdência',
    253: 'Tamanduateí',
    254: 'Orfanato',
    255: 'Vila Zelina',
    256: 'Linhas Corrente',
    257: 'Vila Ema',
    258: 'Parque São Lucas',
    259: 'Vila Cardoso Franco',
    260: 'Parque Santa Madalena',
    261: 'Jardim Colorado',
    262: 'Teotônio Vilela',
    263: 'Fazenda da Juta',
    264: 'São Mateus',
    265: 'Cidade IV Centenário',
    266: 'Rio Claro',
    267: 'Cidade Satélite',
    268: 'Joaquim Nabuco',
    269: 'Vieira de Moraes',
    270: 'Campo Belo',
    271: 'Congonhas',
    272: 'Jardim Aeroporto',
    273: 'Vila Santa Catarina',
    274: 'Jabaquara',
    275: 'Cidade Vargas',
    276: 'Jardim Bom Clima',
    277: 'Cupecê',
    278: 'Jardim Miriam',
    279: 'Vila Missionária',
    280: 'Jurubatuba',
    281: 'Vila São Pedro',
    282: 'Campo Grande',
    283: 'Vila Sabará',
    284: 'Mar Paulista',
    285: 'Pedreira',
    286: 'Vila Socorro',
    287: 'Parque Interlagos',
    288: 'Jardim Represa',
    289: 'Rio Bonito',
    290: 'SESC Interlagos',
    291: 'Jardim Presidente',
    292: 'Vila Natal',
    293: 'Grajaú',
    294: 'Cocaia',
    295: 'Belmira Marin',
    296: 'Bororé',
    297: 'Jaceguava',
    298: 'Parelheiros',
    299: 'Marsilac',
    300: 'Granja Julieta',
    301: 'Chácara Flora',
    302: 'Santo Amaro',
    303: 'Vila Miranda',
    304: 'Jardim São Luís',
    305: 'Centro Empresarial',
    306: 'Guarapiranga',
    307: 'Jardim Capela',
    308: 'Riviera',
    309: 'Jardim Turquesa',
    310: 'Morro do Índio',
    311: 'Jardim Ângela',
    312: 'Capão Redondo',
    313: 'Jardim Sônia Ingá',
    314: 'Adventista',
    315: 'Parque Fernanda',
    316: 'Morumbi',
    317: 'Jóquei Clube',
    318: 'Fazenda Morumbi',
    319: 'Real Parque',
    320: 'Paraisópolis',
    321: 'Jardim Vitória Régia',
    322: 'Vila Suzana',
    323: 'Parque Arariba',
    324: 'Jardim Mitsutani',
    325: 'Pirajussara',
    326: 'Jardim Umarizal',
    327: 'Portal do Morumbi',
    328: 'Jardim Jussara',
    329: 'Vila Sônia',
    330: 'Jardim Maria do Carmo',
    331: 'Jardim Cambará',
    332: 'Jardim João XXIII',
    333: 'Raposo Tavares',
    334: 'Rio Pequeno',
    335: 'Jardim Ester Yolanda',
    336: 'Jardim Adalgiza',
    337: 'Parque Continental',
    338: 'Jaguaré',
    339: 'Cidade Universitária',
    340: 'Butantã',
    341: 'Jardim Caxingui',
    342: 'Jardim Bonfiglioli',
    343: 'Melhoramentos',
    344: 'Caieiras',
    345: 'Serpa',
    346: 'Santa Inês',
    347: 'Cajamar',
    348: 'Jordanésia',
    349: 'Cristais',
    350: 'Baltazar Fidélis',
    351: 'Franco da Rocha',
    352: 'Parque do Juqueri',
    353: 'Palmares',
    354: 'Sete Voltas',
    355: 'Afonso Moreno',
    356: 'Francisco Morato',
    357: 'Cascatas',
    358: 'Mairiporã',
    359: 'Paiva Castro',
    360: 'Colinas',
    361: 'Pirucaia',
    362: 'Guarulhos',
    363: 'Macedo',
    364: 'Cumbica',
    365: 'Várzea do Palácio',
    366: 'Ponte Grande',
    367: 'Gopouva',
    368: 'Vila São Rafael',
    369: 'Vila Rosália',
    370: 'André Luiz',
    371: 'Jardim Santa Clara',
    372: 'Parque CECAP',
    373: 'Taboão',
    374: 'Aeroporto',
    375: 'Jardim Presidente Dutra',
    376: 'Baquirivu',
    377: 'Água Chata',
    378: 'Pimentas',
    379: 'Cabuçu',
    380: 'Invernada',
    381: 'Morro dos Macacos',
    382: 'Chácaras Bananal',
    383: 'Estrada de Nazaré Paulista',
    384: 'Água Azul',
    385: 'Vasconcelândia',
    386: 'Arujazinho',
    387: 'Arujá',
    388: 'Fazenda Velha',
    389: 'Santa Isabel',
    390: 'Jaguari',
    391: 'Ferraz de Vasconcelos',
    392: 'Paiol Velho',
    393: 'Santos Dumont',
    394: 'Jardim São José',
    395: 'Poá',
    396: 'Itaquaquecetuba',
    397: 'Quinta da Boa Vista',
    398: 'Bonsucesso',
    399: 'Pinheirinho',
    400: 'Miguel Badra',
    401: 'Suzano',
    402: 'Guaió',
    403: 'Ouro Fino',
    404: 'Mogi das Cruzes',
    405: 'Estudantes',
    406: 'Vila Oliveira',
    407: 'Brás Cubas',
    408: 'Jundiapeba',
    409: 'Jardim Graziella',
    410: 'Itapeti',
    411: 'Sabaúna',
    412: 'César de Souza',
    413: 'Taiaçupeba',
    414: 'Biritiba-Mirim',
    415: 'Salesópolis',
    416: 'Guararema',
    417: 'Santa Paula',
    418: 'Vila Gerti',
    419: 'Estrada das Lágrimas',
    420: 'Santo Antônio',
    421: 'São Caetano do Sul',
    422: 'Santo André',
    423: 'Vila Gilda',
    424: 'Valparaíso',
    425: 'Sacadura Cabral',
    426: 'Campestre',
    427: 'Utinga',
    428: 'Vila Lucinda',
    429: 'Parque Oratório',
    430: 'Parque das Nações',
    431: 'Jardim do Estádio',
    432: 'Carijós',
    433: 'Parque do Pedroso',
    434: 'Paranapiacaba',
    435: 'Capuava',
    436: 'Mauá',
    437: 'Jardim Zaíra',
    438: 'Barão de Mauá',
    439: 'Estrada do Carneiro',
    440: 'Ribeirão Pires',
    441: 'Jardim Santa Luzia',
    442: 'Ouro Fino Paulista',
    443: 'Parque Sete Pontes',
    444: 'Rio Grande da Serra',
    445: 'Planalto',
    446: 'Paulicéia',
    447: 'Rudge Ramos',
    448: 'Baeta Neves',
    449: 'São Bernardo do Campo',
    450: 'Montanhão',
    451: 'Demarchi',
    452: 'Riacho Grande',
    453: 'Caminho do Mar',
    454: 'Reservatório Billings',
    455: 'Diadema',
    456: 'Jardim das Nações',
    457: 'Piraporinha',
    458: 'Vila Conceição',
    459: 'Eldorado',
    460: 'Taboão da Serra',
    461: 'Jardim Irapuã',
    462: 'Parque Pinheiros',
    463: 'Parque Industrial',
    464: 'Santo Eduardo',
    465: 'São Marcos',
    466: 'Embu das Artes',
    467: 'Ressaca',
    468: 'Itapecerica da Serra',
    469: 'Jardim Petrópolis',
    470: 'Embu-Mirim',
    471: 'São Lourenço da Serra',
    472: 'Embu-Guaçu',
    473: 'Cipó',
    474: 'Santa Rita',
    475: 'Juquitiba',
    476: 'Barueri',
    477: 'Aphaville',
    478: 'Tamboré',
    479: 'Antônio João',
    480: 'Vutopoca',
    481: 'Jardim Silveira',
    482: 'Jardim Belval',
    483: 'Morada dos Lagos',
    484: 'Cidade Ariston',
    485: 'Carapicuíba',
    486: 'Jardim Planalto',
    487: 'Aldeia de Carapicuíba',
    488: 'Estrada do Jacarandá',
    489: 'Osasco',
    490: 'Vila Yara',
    491: 'Bussocaba City',
    492: 'Nova Granada',
    493: 'Recanto das Rosas',
    494: 'Jardim Novo Osasco',
    495: 'Jardim Veloso',
    496: 'Quitaúna',
    497: 'Jardim Piratininga',
    498: 'Presidente Altino',
    499: 'Munhoz Junior',
    500: 'Rochdale',
    501: 'Mutinga',
    502: 'Três Montanhas',
    503: 'Ribeirão Itaqui',
    504: 'Jandira',
    505: 'Ribeirão das Pombas',
    506: 'Granja Viana',
    507: 'Fernando Nobre',
    508: 'Cotia',
    509: 'Capueira',
    510: 'Caucaia',
    511: 'Caucaia do Alto',
    512: 'Vargem Grande Paulista',
    513: 'Quatro Encruzilhadas',
    514: 'Itapevi',
    515: 'Amador Bueno',
    516: 'Santana de Parnaíba',
    517: 'Pirapora do Bom Jesus',
    999: 'Zona Externa'
}
campo_de = 'ZONA'
campo_para = 'Zona do Domicílio'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_ESC'
campo_para = 'Zona da Escola'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONATRA1'
campo_para = 'Zona do Primeiro Trabalho'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONATRA2'
campo_para = 'Zona do 2º Trabalho'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_D'
campo_para = 'Zona de Destino'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_O'
campo_para = 'Zona de Origem'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_T1'
campo_para = 'Zona da 1ª Transferência'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_T2'
campo_para = 'Zona da 2ª Transferência'
df[campo_para] = df[campo_de].map(zonas)

campo_de = 'ZONA_T3'
campo_para = 'Zona da 3ª Transferência'
df[campo_para] = df[campo_de].map(zonas)

In [6]:
municipios = {
    1: 'Arujá',
    2: 'Barueri',
    3: 'Biritiba-Mirim',
    4: 'Caieiras',
    5: 'Cajamar',
    6: 'Carapicuíba',
    7: 'Cotia',
    8: 'Diadema',
    9: 'Embu das Artes',
    10: 'Embu-Guaçu',
    11: 'Ferraz de Vasconcelos',
    12: 'Francisco Morato',
    13: 'Franco da Rocha',
    14: 'Guararema',
    15: 'Guarulhos',
    16: 'Itapecerica da Serra',
    17: 'Itapevi',
    18: 'Itaquaquecetuba',
    19: 'Jandira',
    20: 'Juquitiba',
    21: 'Mairiporã',
    22: 'Mauá',
    23: 'Mogi das Cruzes',
    24: 'Osasco',
    25: 'Pirapora do Bom Jesus',
    26: 'Poá',
    27: 'Ribeirão Pires',
    28: 'Rio Grande da Serra',
    29: 'Salesópolis',
    30: 'Santa Isabel',
    31: 'Santana do Parnaíba',
    32: 'Santo André',
    33: 'São Bernardo do Campo',
    34: 'São Caetano do Sul',
    35: 'São Lourenço da Serra',
    36: 'São Paulo',
    37: 'Suzano',
    38: 'Taboão da Serra',
    39: 'Vargem Grande Paulista',
    99: 'Munício Externo'
}
campo_de = 'MUNI_DOM'
campo_para = 'Município de Domicílio'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNIESC'
campo_para = 'Município da Escola'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA1'
campo_para = 'Município do Primeiro Trabalho'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNITRA2'
campo_para = 'Município do 2º Trabalho'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_O'
campo_para = 'Município de Origem'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_D'
campo_para = 'Município de Destino'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_T1'
campo_para = 'Município 1ª Transferência'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_T2'
campo_para = 'Município 2ª Transferência'
df[campo_para] = df[campo_de].map(municipios)

campo_de = 'MUNI_T3'
campo_para = 'Município 3ª Transferência'
df[campo_para] = df[campo_de].map(municipios)

In [7]:
df_renomeado = df.rename(columns={
    'ZONA': 'ZONA - Zona do Domicílio',
    'MUNI_DOM': 'MUNI_DOM - Município de Domicílio',
    'CO_DOM_X': 'CO_DOM_X - Coordenada X Domicílio',
    'CO_DOM_Y': 'CO_DOM_Y - Coordenada Y Domicílio',
    'ID_DOM': 'ID_DOM - Identifica Domicílio',
    'F_DOM': 'F_DOM - Identifica Primeiro Registro do Domicílio',
    'FE_DOM': 'FE_DOM - Fator de Expansão do Domicílio',
    'DOM': 'DOM - Número do Domicílio',
    'CD_ENTRE': 'CD_ENTRE - Código de Entrevista',
    'DATA': 'DATA - Data da Entrevista',
    'TIPO_DOM': 'TIPO_DOM - Tipo de Domicílio',
    'AGUA': 'AGUA - Possui água encanada?',
    'RUA_PAVI': 'RUA_PAVI - A rua é pavimentada?',
    'NO_MORAD': 'NO_MORAD - Total de Moradores no Domicílio',
    'TOT_FAM': 'TOT_FAM - Total de Familias no Domicílio',
    'ID_FAM': 'ID_FAM - Identifica Família',
    'F_FAM': 'F_FAM - Identifica Primeiro Registro da Família',
    'FE_FAM': 'FE_FAM - Fator de Expansão da Família',
    'FAMILIA': 'FAMILIA - Número da Família',
    'NO_MORAF': 'NO_MORAF - Total de Moradores na Família',
    'CONDMORA': 'CONDMORA - Condição de Moradia',
    'QT_BANHO': 'QT_BANHO - Banheiros',
    'QT_EMPRE': 'QT_EMPRE - Empregados Domésticos',
    'QT_AUTO': 'QT_AUTO - Automóveis',
    'QT_MICRO': 'QT_MICRO - Microcomputadores',
    'QT_LAVALOU': 'QT_LAVALOU - Máquinas de Lava louças',
    'QT_GEL1': 'QT_GEL1 - Geladeiras de uma porta',
    'QT_GEL2': 'QT_GEL2 - Geladeiras de duas portas',
    'QT_FREEZ': 'QT_FREEZ - Freezers',
    'QT_MLAVA': 'QT_MLAVA - Máquinas de Lavar roupa',
    'QT_DVD': 'QT_DVD - DVDs',
    'QT_MICROON': 'QT_MICROON - Microondas',
    'QT_MOTO': 'QT_MOTO - Motos',
    'QT_SECAROU': 'QT_SECAROU - Secadora de roupas',
    'QT_BICICLE': 'QT_BICICLE - Bicicletas',
    'NAO_DCL_IT': 'NAO_DCL_IT - Código de Declaração de Itens de Conforto',
    'CRITERIOBR': 'CRITERIOBR - Critério de Classificação Econômica Brasil',
    'PONTO_BR': 'PONTO_BR - Pontos Critério Brasil',
    'ANO_AUTO1': 'ANO_AUTO1 - Ano Fabricação do Auto 1',
    'ANO_AUTO2': 'ANO_AUTO2 - Ano Fabricação do Auto 2',
    'ANO_AUTO3': 'ANO_AUTO3 - Ano Fabricação do Auto 3',
    'RENDA_FA': 'RENDA_FA - Renda Familiar Mensal',
    'CD_RENFA': 'CD_RENFA - Código de Renda Familiar Mensal',
    'ID_PESS': 'ID_PESS - Identifica Pessoa',
    'F_PESS': 'F_PESS - Identifica Primeiro Registro da Pessoa',
    'FE_PESS': 'FE_PESS - Fator de Expansão da Pessoa',
    'PESSOA': 'PESSOA - Número da Pessoa',
    'SIT_FAM': 'SIT_FAM - Situação Familiar',
    'IDADE': 'IDADE - Idade',
    'SEXO': 'SEXO - Sexo',
    'ESTUDA': 'ESTUDA - Estuda Atualmente?',
    'GRAU_INS': 'GRAU_INS - Grau de Instrução',
    'CD_ATIVI': 'CD_ATIVI - Condição de Atividade',
    'CO_REN_I': 'CO_REN_I - Condição de Renda Individual',
    'VL_REN_I': 'VL_REN_I - Renda Individual',
    'ZONA_ESC': 'ZONA_ESC - Zona da Escola',
    'MUNIESC': 'MUNIESC - Município da Escola',
    'CO_ESC_X': 'CO_ESC_X - Coordenada X Escola',
    'CO_ESC_Y': 'CO_ESC_Y - Coordenada Y Escola',
    'TIPO_ESC': 'TIPO_ESC - Tipo de Escola',
    'ZONATRA1': 'ZONATRA1 - Zona do Primeiro Trabalho',
    'MUNITRA1': 'MUNITRA1 - Município do Primeiro Trabalho',
    'CO_TR1_X': 'CO_TR1_X - Coordenada X 1º Trabalho',
    'CO_TR1_Y': 'CO_TR1_Y - Coordenada Y 1º Trabalho',
    'TRAB1_RE': 'TRAB1_RE - Primeiro Trabalho é igual a Residência ?',
    'TRABEXT1': 'TRABEXT1 - Realiza Trabalho Externo-1º Trabalho',
    'OCUP1': 'OCUP1 - Ocupação do 1º Trabalho',
    'SETOR1': 'SETOR1 - Setor de Atividade do 1º Trabalho',
    'VINC1': 'VINC1 - Vínculo Empregatício do 1º Trabalho',
    'ZONATRA2': 'ZONATRA2 - Zona do 2º Trabalho',
    'MUNITRA2': 'MUNITRA2 - Município do 2º Trabalho',
    'CO_TR2_X': 'CO_TR2_X - Coordenada X 2º Trabalho',
    'CO_TR2_Y': 'CO_TR2_Y - Coordenada Y 2º Trabalho',
    'TRAB2_RE': 'TRAB2_RE - Segundo Trabalho é igual a Residência ?',
    'TRABEXT2': 'TRABEXT2 - Realiza Trabalho Externo-2º Trabalho',
    'OCUP2': 'OCUP2 - Ocupação do 2º Trabalho',
    'SETOR2': 'SETOR2 - Setor de Atividade do 2º Trabalho',
    'VINC2': 'VINC2 - Vínculo Empregatício do 2º Trabalho',
    'N_VIAG': 'N_VIAG - Número da Viagem',
    'FE_VIA': 'FE_VIA - Fator de Expansão da Viagem',
    'DIA_SEM': 'DIA_SEM - Dia da Semana',
    'TOT_VIAG': 'TOT_VIAG - Total de Viagens da Pessoa',
    'ZONA_O': 'ZONA_O - Zona de Origem',
    'MUNI_O': 'MUNI_O - Município de Origem',
    'CO_O_X': 'CO_O_X - Coordenada X Origem',
    'CO_O_Y': 'CO_O_Y - Coordenada Y Origem',
    'ZONA_D': 'ZONA_D - Zona de Destino',
    'MUNI_D': 'MUNI_D - Município de Destino',
    'CO_D_X': 'CO_D_X - Coordenada X Destino',
    'CO_D_Y': 'CO_D_Y - Coordenada Y Destino',
    'ZONA_T1': 'ZONA_T1 - Zona da 1ª Transferência',
    'MUNI_T1': 'MUNI_T1 - Município 1ª Transferência',
    'CO_T1_X': 'CO_T1_X - Coordenada X 1ª Transferência',
    'CO_T1_Y': 'CO_T1_Y - Coordenada Y 1ª Transferência',
    'ZONA_T2': 'ZONA_T2 - Zona da 2ª Transferência',
    'MUNI_T2': 'MUNI_T2 - Município 2ª Transferência',
    'CO_T2_X': 'CO_T2_X - Coordenada X 2ª Transferência',
    'CO_T2_Y': 'CO_T2_Y - Coordenada Y 2ª Transferência',
    'ZONA_T3': 'ZONA_T3 - Zona da 3ª Transferência',
    'MUNI_T3': 'MUNI_T3 - Município 3ª Transferência',
    'CO_T3_X': 'CO_T3_X - Coordenada X 3ª Transferência',
    'CO_T3_Y': 'CO_T3_Y - Coordenada Y 3ª Transferência',
    'MOTIVO_O': 'MOTIVO_O - Motivo na Origem',
    'MOTIVO_D': 'MOTIVO_D - Motivo no Destino',
    'MOT_SRES': 'MOT_SRES - Motivo no Destino sem Residência',
    'SERVIR_O': 'SERVIR_O - Servir Passageiro na Origem',
    'SERVIR_D': 'SERVIR_D - Servir Passageiro no Destino',
    'MODO1': 'MODO1 - Modo 1',
    'MODO2': 'MODO1 - Modo 2',
    'MODO3': 'MODO1 - Modo 3',
    'MODO4': 'MODO1 - Modo 4',
    'H_SAIDA': 'H_SAIDA - Hora de Saída',
    'MIN_SAIDA': 'MIN_SAIDA - Minuto de Saída',
    'ANDA_O': 'ANDA_O - Tempo Andando na Origem',
    'H_CHEG': 'H_CHEG - Hora de Chegada',
    'MIN_CHEG': 'MIN_CHEG - Minuto de Chegada',
    'ANDA_D': 'ANDA_D - Tempo Andando no Destino',
    'DURACAO': 'DURACAO - Duração da Viagem (em minutos)',
    'MODOPRIN': 'MODOPRIN - Modo Principal',
    'TIPVG': 'TIPVG - Tipo de Viagem',
    'PAG_VIAG': 'PAG_VIAG - Quem Pagou a Viagem',
    'TP_ESAUTO': 'TP_ESAUTO - Tipo de Estacionamento do Automóvel ou Moto',
    'VL_EST': 'VL_EST - Valor do Estacionamento do Automóvel ou Moto',
    'PE_BICI': 'PE_BICI - Por Que Viajou A Pé ou Bicicleta',
    'VIA_BICI': 'VIA_BICI - Se viajou de bicicleta, usou via segregada?',
    'TP_ESBICI': 'TP_ESBICI - Estacionamento Bicicleta',
    'DISTANCIA': 'DISTANCIA - Distância em metros*',
    'ID_ORDEM': 'ID_ORDEM - Número de Ordem do Registro',
})
df_renomeado.columns

Index(['ZONA - Zona do Domicílio', 'MUNI_DOM - Município de Domicílio',
       'CO_DOM_X - Coordenada X Domicílio',
       'CO_DOM_Y - Coordenada Y Domicílio', 'ID_DOM - Identifica Domicílio',
       'F_DOM - Identifica Primeiro Registro do Domicílio',
       'FE_DOM - Fator de Expansão do Domicílio', 'DOM - Número do Domicílio',
       'CD_ENTRE - Código de Entrevista', 'DATA - Data da Entrevista',
       ...
       'Zona da 3ª Transferência', 'Município de Domicílio',
       'Município da Escola', 'Município do Primeiro Trabalho',
       'Município do 2º Trabalho', 'Município de Origem',
       'Município de Destino', 'Município 1ª Transferência',
       'Município 2ª Transferência', 'Município 3ª Transferência'],
      dtype='object', length=188)

In [8]:
df_renomeado.head()

,ZONA - Zona do Domicílio,MUNI_DOM - Município de Domicílio,CO_DOM_X - Coordenada X Domicílio,CO_DOM_Y - Coordenada Y Domicílio,ID_DOM - Identifica Domicílio,F_DOM - Identifica Primeiro Registro do Domicílio,FE_DOM - Fator de Expansão do Domicílio,DOM - Número do Domicílio,CD_ENTRE - Código de Entrevista,DATA - Data da Entrevista,...,Zona da 3ª Transferência,Município de Domicílio,Município da Escola,Município do Primeiro Trabalho,Município do 2º Trabalho,Município de Origem,Município de Destino,Município 1ª Transferência,Município 2ª Transferência,Município 3ª Transferência
0,1,36,333743,7394463,10001,1,15.416667,1,1,6092017,...,NaN,São Paulo,NaN,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN
1,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,São Paulo,NaN,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN
2,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,São Paulo,São Paulo,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN
3,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,São Paulo,São Paulo,São Paulo,NaN,São Paulo,São Paulo,São Paulo,NaN,NaN
4,1,36,333743,7394463,10001,0,15.416667,1,1,6092017,...,NaN,São Paulo,São Paulo,São Paulo,NaN,São Paulo,São Paulo,NaN,NaN,NaN

In [9]:
# "zera" o fator de expansão por pessoa, deixando apenas o primeiro registro
# para evitar duplicidades na hora da análise do Power BI
df_renomeado['FE_PESS - Fator de Expansão da Pessoa'] = df_renomeado.apply(
    lambda row: row['FE_PESS - Fator de Expansão da Pessoa'] if row['F_PESS - Identifica Primeiro Registro da Pessoa'] == 1 else None,
    axis=1
)

df_renomeado[[
    'ID_PESS - Identifica Pessoa',
    'F_PESS - Identifica Primeiro Registro da Pessoa',
    'FE_PESS - Fator de Expansão da Pessoa',
]].head(5)

,ID_PESS - Identifica Pessoa,F_PESS - Identifica Primeiro Registro da Pessoa,FE_PESS - Fator de Expansão da Pessoa
0,10001101,1,19.532274
1,10001101,0,NaN
2,10001102,1,16.663976
3,10001102,0,NaN
4,10001102,0,NaN

In [10]:
# confere se a soma do fator de expansão "bate" com a planilha, agora que não existem
# mais registros duplicados por pessoa
df_renomeado['FE_PESS - Fator de Expansão da Pessoa'].sum()

20821670.871776994

In [12]:
df_renomeado['AA_PESQUISA'] = ano
df_renomeado.to_excel(f'OD_{ano}.xlsx', index=False)
print('Arquivo salvo com sucesso')

Arquivo salvo com sucesso